{% extends 'portal/portal' %}
{% block appStylos %}
  <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">
  <style media="screen">
    .at{
      display: none;
    }
  </style>
{% endblock %}
{% block appBody %}
<div class="row">
    <div class="col-md-12">
        <section class="content-header">
            <h1>
                Ordenes Andes
                <small>Listado Ordenes Andes</small>

                <a class="btn btn-primary btn-social pull-right" href="andes/nueva_orden" title="Agregar" data-toggle="tooltip">
                <i class="fa fa-plus"></i> Agregar Nueva Orden
                </a>

                <a class="btn btn-success btn-social pull-right" href="andes/importar_ordenes" title="Importar" data-toggle="tooltip">
                <i class="fa fa-upload"></i> Importar nuevas ordenes
                </a>
            </h1>
        </section>
    </div>
</div>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <form id="formordenesandes" name="formordenesandes">
                      <div id="tblordenesandes" name="tblordenesandes">


                        <table id="tablorden" name="tablorden" class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>NOMBRE_CLIENTE</th>
                                    <th>TELEFONO</th>
                                    <th>DIRECCION</th>
                                    <th>COMUNA</th>
                                    <th>ZONA</th>
                                    <th>TIPO_ACTIVIDAD</th>
                                    <th>FRANJA</th>
                                    <th>FECHA</th>
                                    <th>N°_ORDEN</th>
                                    <th>ID_ACTIVIDAD</th>
                                    <th>ESTADO</th>
                                    <th>TECNICO</th>
                                    <th>OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set No = 1 %}
                                {% for a in db_ordenesandes if false != db_ordenesandes %}
                                    <tr>
                                        <td>{{No}}</td>
                                        <td>{{ a.nombre_cliente }}</td>
                                        <td>{{ a.telefono}}</td>
                                        <td>{{ a.direccion }}</td>
                                        <td>{{ a.descripcion }}</td>
                                        <td>{{ a.zona  }}</td>
                                        <td>{{ a.tipo_actividad }}</td>
                                        <td>{{ a.franja }}</td>
                                        <td>{{ a.fecha }}</td>
                                        <td>{{ a.numero_orden }}</td>
                                        <td>{{ a.id_actividad }}</td>
                                        <td>{{ a.estado }}</td>
                                        <td>{{ a.tecnombre }}</td>
                                        <td><a data-toggle='tooltip' data-placement='top' id="btnestado" name="btnestado" title='Estado' class='btn btn-primary btn-sm' onclick="cambiarestado({{a.id_orden}})">
                                                    <i class='glyphicon glyphicon-edit'></i>
                                                </a>
                                                <a data-toggle='tooltip' data-placement='top' id="btnmodificar" name="btnmodificar" title='Modificar' class='btn btn-success btn-sm' href="andes/editar_orden/{{a.id_orden}}">
                                                    <i class='glyphicon glyphicon-edit'></i>
                                                </a>
                                                <a data-placement='top' name="btnlisteliminar" id="btnlisteliminar" title="Eliminar" onclick="eliminarfen({{f.id_fen}})" class='btn btn-danger btn-sm'>
                                                    <i class='glyphicon glyphicon-remove'></i>
                                                </a></td>
                                    </tr>
                                    {% set No = No + 1 %}
                                {% endfor %}
                            </tbody>
                        </table>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block appScript %}

  <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>
  <script src="views/app/js/andes/andes.js"></script>

    <script>
        $("#tablorden").dataTable({
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No hay datos para mostrar",
                "info": "Mostrando _END_ Registros, de un total de _TOTAL_ ",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "infoEmpty": "No hay entradas para mostrar",
                "lengthMenu": "Mostrar _MENU_ Filas",
                "paginate": {
                    "first": "Primera",
                    "last": "Ultima",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "autoWidth": true,
            "bSort": false,
          "scrollX": true
        });
    </script>
{% endblock %}
