{% extends 'portal/portal' %}
{% block appStylos %}{% endblock %}
{% block appBody %}
    <section class="content-header">
        <h1>
          Localidades
            <small>Editar Localidad</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <form id="editar_localidad" name="editar_localidad" action="" method="POST">
                        <div class="box-body col-sm-4"></div>
                        <div class="box-body col-sm-4">
                            <input type='hidden' name='id_localidad' id='id_localidad' value='{{ db_localidades.id_localidad }}'/>
                            <div class="form-group">
                                Codigo Localidad
                                <input class="form-control" name="numlocalidad" id="numlocalidad" type="text" value='{{ db_localidades.cod_localidad }}' required="required"/>
                                <br>
                                Nombre Localidad
                                <input class="form-control" name="descripcionlocalidad" id="descripcionlocalidad" type="text"  value='{{ db_localidades.descripcion }}' required="required"/>
                                <br>
                                Hub Localidad
                                <input class="form-control" name="hublocalidad" id="hublocalidad" type="text"  value='{{ db_localidades.hub }}' required="required"/>
                                <br>
                                Area
                                <select class="form-control" name="cmbareas" id="cmbareas" onchange="cargadeareas()">
                                  <option value="--">--</option>
                                  {% for a in db_areas if false != db_areas %}
                                   <option value="{{a.cod_area}}" >{{a.descripcion}}</option>
                                  {% endfor %}
                                </select>
                                <br>
                                <div id="divopciones" name="divopciones">

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->

{% endblock %}
{% block appScript %}
    <script src="views/app/js/localidades/localidades.js"></script>
{% endblock %}
